<div class="panel panel-default">
<div class="panel-heading">
<h1>LIST OF COMMENTS</h1>
</div>
<div class="panel-body">
<table class="table">
  <thead>
    <tr>
      <th>Body</th>
      <th>User</th>
      <th>Post</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.body %></td>
        <td><%= comment.model.email %></td>
        <td><%= comment.post.id %></td>
        <td><%= link_to 'Show', comment, class: 'btn btn-sm btn-default' %></td>
        
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>


<br>

<%= link_to 'New Comment', new_comment_path, class: 'btn btn-lg btn-info btn-margin4' %>
